<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Submission successful!</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Your name</th>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <th>Your options</th>
                    <td>
                        {{#if options}}
                        <ul>
                            {{#each options}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        {{else}} None {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>