<style>
    .gallery-product,
    .gallery-view {
        margin-bottom: 30px;
    }
</style>

<div class="gallery-view row">

    {{#if gallery}}

    <!-- Image gallery -->
    {{#each gallery}}
    <div class="gallery-product col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="/images/fullsize/{{this}}"><img src="/images/thumbnails/{{this}}" class="img-responsive"></a>
    </div>
    {{/each}} {{else}}

    <h3>There are no images in your gallery!</h3>
    <p>Please upload some using the form below!</p>

    {{/if}}

</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload new image</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="/" method="POST">
                <div class="form-group">
                    <input type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.bmp,.png" required>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Upload">
                    <input class="btn btn-default" type="reset" value="Clear">
                </div>
            </form>
        </div>
    </div>
</div>