<div class="col-md-12">
    <div class="panel {{#if entries}}panel-success{{else}}panel-danger{{/if}}">
        <div class="panel-heading">
            <h3 class="panel-title">Submission</h3>
        </div>
        <div class="panel-body">
            {{#if entries}}
            <p>Thanks for your submission. The response from the server is as follows:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each entries}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>You didn't submit any values! The T-Rex is sad &#x1F62D</p>
            <p><img class="img-responsive centered-image" src="images/t-rex-crying.png"></p>
            {{/if}}
        </div>
    </div>
</div>